<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Best Restaurants in Town</title>
    </head>
    <body>
        <div class='container'>
            <h1>{{ cuisine.getName }}</h1>
            {% if restaurants is not empty %}
                <p>List of Restaurants</p>
                <ul>
                    {% for restaurant in restaurants %}
                        <li><h4>{{ restaurant.getName }}</h4>
                            <ul>
                                <li>{{ restaurant.getLocation }}</li>
                                <li>Hours: {{ restaurant.getHours }}</li>
                                <li>{{ restaurant.getDescription }}</li>
                                <li>
                                    <form action="/restaurants/{{ restaurant.getId }}/edit">        
                                        <button type="submit">Update</button>
                                    </form>
                                    <form action="/restaurants/{{ restaurant.getId }}/delete" method="post">
                                        <input name="_method" type="hidden" value="delete">

                                        <button type="submit" class="btn-danger">Delete</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h4>No restaurants listed</h4>
            {% endif %}

            <form action = '/restaurants' method = 'post'>
                <input id='cuisine_id' name='cuisine_id' type='hidden' value='{{ cuisine.getId() }}'>
                <div class="form-group">
                    <label for="name">Restaurant Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="location">Restaurant Location</label>
                    <input type="text" name="location" id="location">
                </div>
                <div class="form-group">
                    <label for="hours">Restaurant Hours</label>
                    <input type="text" name="hours" id="hours">
                </div>
                <div class="form-group">
                    <label for="description">Restaurant Description</label>
                    <input type="text" name="description" id="description">
                </div>
                <button type='submit'>Submit</button>
            </form>

        </div>
    </body>
</html>
